* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(24, 131, 126);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
  font-size: x-large;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
img {
  width: 120px;
  height: 100px;
}
